/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* Body style */
body {
    background-color: #E8ECEF; /* Light grey background */
    color: #333; /* Dark text */
}

/* Header style */
header {
    background: linear-gradient(45deg, #2D2D2D, #E0E0E0);  /* Darker grey background */
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 16px;
}

/* Top navigation menu */
.top-nav {
    background-color: #2D2D2D; /* Dark grey background */
    display: flex;
    align-items: center;
    justify-content: center; /* Center items horizontally */
    padding: 1rem;
    color: #fff;
}

.top-nav .menu-toggle {
    display: none; /* Hide the menu toggle icon by default on desktop */
}

.top-nav ul.desktop-menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.top-nav ul.desktop-menu li {
    margin: 0 1rem;
}

.top-nav ul.desktop-menu a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

.top-nav ul.desktop-menu a:hover {
    background-color: #f09a36; /* Medium grey on hover */
    color: #000;
}

/* Container style */
.container {
    display: flex;
}

/* Side navigation menu */
.side-nav {
    background-color: #2D2D2D; /* Dark grey background */
    width: 200px;
    padding: 1rem;
    min-height: 100vh;
    transform: translateX(0); /* Show side nav by default on larger screens */
    position: fixed;
    top: 0vh; /* Adjust top position below header */
    left: 0;
    z-index: 1000;
    overflow-y: auto;
}

.side-nav ul {
    padding-top: 15vh;
    list-style: none;
}

.side-nav li {
    margin: 1rem 0;
}

.side-nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
}

.side-nav a:hover,.side-nav a.active {
    background-color: #f09a36; /* Medium grey on hover */
    color: #000;
}

/* Close button for mobile */
.close-btn {
    display: none; /* Hide close button by default */
}


/* Main content style */
main {
    flex: 1;
    padding-left: 1rem;
    padding-top: 0.5rem;
    margin-left: 200px; /* Ensure main content starts after side nav */
}

/* Footer style */
footer {
    background: linear-gradient(45deg, #2D2D2D, #E0E0E0); /* Darker grey background */
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    
}
.app-section {
    
    width: 82%;
    padding: 20px 20px;
    text-align: center;
}

.app-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.app-section p {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #666;
}

.app-section .btn {
    background-color: #2D2D2D;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
}

.app-section .btn:hover {
    background-color: #f09a36;
    color: #000;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
    .top-nav 
    {       
    justify-content:left;
    }
    .top-title
    {
        padding-left: 40px;
        font-size: 20px;
    }
    .top-nav .menu-toggle {
        display: block; /* Show the menu toggle icon on mobile */
        font-size: 1.5rem;
        cursor: pointer;
        color: white; /* Set color of menu toggle icon */
    }

    .top-nav ul.desktop-menu {
        display: none; /* Hide the desktop menu links on mobile */
    }

    .side-nav {
        transform: translateX(-100%); /* Hide side nav off-screen on mobile */
    }

    .side-nav.show {
        transform: translateX(0); /* Show side nav when menu toggle icon is clicked */
    }

    .side-nav.show .close-btn {
        display: block; /* Show close button on mobile when side nav is open */
        position: absolute;
        top: 1rem;
        padding-right: 1rem;
        left: 0px;
        color: white;
        font-size: 2rem;
        cursor: pointer;
        background: none;
        border: none;
    }

    main {
        padding-left: 0px;
        margin-left: 15px; /* Adjust main content margin for mobile view */
    }

    .display {
        font-size: 2.5rem; /* Default font size for mobile */
        overflow: hidden; /* Hide overflow to prevent layout issues */
        white-space: nowrap; /* Prevent line breaks */
    }

    /* Adjust font size based on content length */
    .result.long {
        font-size: 2rem; /* Reduced font size for lengthy content */
    }
}
