body {
    font-family: Tahoma, sans-serif;
    justify-content: space-between;
    margin: 0px;
}

* {
    box-sizing: border-box;
}

/* The browser window */
.main {
    width: 100%;
    padding-left: 350px;
    position: relative; 
}
#footer {
    position: fixed;
   
    bottom: 0;
    width: 100%;
    height: 50px;
    background: rgb(45, 124, 220);
    color: white;
    margin: 0px;
}

#btnmyApps
{
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    background-image: linear-gradient( rgb(45, 124, 220), white,  rgb(45, 124, 220));
    height: 50px;
    width: 100px;
    border: 0px;
}
#libcontainer 
{
    position: absolute;
    border: 3px solid rgb(8, 117, 233);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 50%;
    margin: auto;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1), 10px 10px 8px rgba(0, 0, 0, 0.1), 15px 15px 8px rgba(0, 0, 0, 0.1);
    top: -140px;
}
/* Container for columns and the top "toolbar" */
#libcontainerheader {
    width: 100%;
    padding: 10px;
    height: 50px;
    background: rgb(8, 117, 233);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: move;
    
}
#todocontainer
{
    position: absolute;
    border: 3px solid rgb(8, 117, 233);
    border-radius: 30px;
    width: 45%;
    margin: auto;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1), 10px 10px 8px rgba(0, 0, 0, 0.1), 15px 15px 8px rgba(0, 0, 0, 0.1);
    top: -235px;
}
#todocontainerheader
{
    width: 100%;
    padding: 10px;
    height: 50px;
    background: rgb(8, 117, 233);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: move;
}

.part {
    float: left;
}

.left {
    width: 5%;
    text-align: left;
}

.right {
    width: 5%;
}
.middle {
    color: aliceblue;
    font-size: 20px;
    padding-left: 20px;
    width: 90%;
}
.leftcalc {
    width: 10%;
    text-align: left;
}

.rightcalc {
    width: 5%;
}

.middlecalc {
    color: aliceblue;
    font-size: 20px;
    padding-left: 20px;
    width: 80%;
}
.dot {
    margin-top: 4px;
    height: 22px;
    width: 22px;
    padding-left: 7px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    background: #ED594A;
}
.libbody
{
    min-height: 400px;
}
#idlibraryframe
{
    border: 0px;
    width: 100%;
    min-height: 450px;
}
.todobody
{
    min-height: 608px;
}
#idtodoframe
{
    border: 0px;
    width: 100%;
    min-height: 608px;
}
.bookicon {
    font-size: 30px;
    color: #ffffff;
}
.closeicon {
    cursor: pointer;
}
.dropup-menu {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 300px;
    border-radius: 4px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
  }
  
  .dropup-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropup-menu a:hover {
    background-color: rgb(133, 170, 249);
  }
  
  .dropup-menu.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  #lblName
  {
    padding: 20px; color: black; height: 30px; font-size: 20px;
  }

  #calccontainer 
{
    position: absolute;
    border: 3px solid rgb(8, 117, 233);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 218px;
    margin: 0px;    
    background: rgb(8, 117, 233);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1), 10px 10px 8px rgba(0, 0, 0, 0.1), 15px 15px 8px rgba(0, 0, 0, 0.1);
    top: -140px;
}
/* Container for columns and the top "toolbar" */
#calccontainerheader {
    width: 100%;
    padding: 10px;
    height: 50px;
    background: rgb(8, 117, 233);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: move;
    
}

#idcalcframe
{
    padding-left: 3px;
    padding-top: 1px;
    border: 0px;
    width: 245px;
    min-height: 257px;
}

.padright12
{
padding-right: 10px;
}
.desktopicon
{
    width: 60px; height: 60px;
}
.desktoptitle
{
    text-decoration: none; color:  #666B85;
}
.divdesktop
{
    text-align:left;padding-left: 6px;
}
.divdesktext
{
    padding-left: 10px;
}