/* Reset some default styles */
body,
h1,
p,
ul {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 20px;
}

/* Body style */
body {
    background-color: #F0F4F8;
    color: #333;
}

/* Header style */
header {
    background: linear-gradient(45deg, #006ee2, #E0E0E0);
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 16px;
}

/* Top navigation menu */
.top-nav {
    background-color: #005BBB;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center items horizontally */
    padding: 1rem;
    color: #fff;
}

.top-nav .menu-toggle {
    display: none;
    /* Hide the menu toggle icon by default on desktop */
}

.top-nav ul.desktop-menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.top-nav ul.desktop-menu li {
    margin: 0 1rem;
}

.top-nav ul.desktop-menu a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

.top-nav ul.desktop-menu a:hover {
    background-color: #004AAD;
}

/* Container style */
.container {
    display: flex;
}

/* Side navigation menu */
.side-nav {
    background-color: #004AAD;
    width: 200px;
    padding: 1rem;
    min-height: 100vh;
    transform: translateX(0);
    /* Show side nav by default on larger screens */
    position: fixed;
    top: 0vh;
    /* Adjust top position below header */
    left: 0;
    z-index: 1000;
    overflow-y: auto;
}

.side-nav ul {

    padding-top: 15vh;
    list-style: none;
}

.side-nav li {
    margin: 1rem 0;
}

.side-nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
}

.side-nav a:hover,.activelink {
    background-color: #003A8D;
}


/* Close button for mobile */
.close-btn {
    display: none;
    /* Hide close button by default */
}

/* Main content style */
main {
    flex: 1;
    padding: 2rem;
    margin-left: 200px;
    /* Ensure main content starts after side nav */
}

/* Footer style */
footer {
    background: linear-gradient(45deg, #006ee2, #E0E0E0);
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Main content style */
main {
    flex: 1;
    padding-left: 5rem;
    margin-left: 200px;
    /* Ensure main content starts after side nav */
}

.todo-list,
.add-task,
.filter-options {
    background-color: #fff;
    /* White background for main sections */
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.todo-list h2,
.add-task h2 {
    color: #333;
    /* Dark grey header text */
    margin-bottom: 1rem;
}

.todo-list ul {
    padding: 0;
    list-style: none;
}

.todo-list li {
    background-color: #f0f4f8;
    /* Light grey task item background */
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.add-task form {
    display: flex;
    align-items: center;
}

.add-task input[type="text"] {
    flex: 1;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 0.5rem;
    color: #333;
    /* Dark grey text */
}

.filter-options select {
    appearance: none;
    /* Remove default appearance */
    -webkit-appearance: none;
    /* Remove default appearance for older versions of Chrome/Safari */
    -moz-appearance: none;
    /* Remove default appearance for older versions of Firefox */
    background-color: #fff;
    /* White background */
    padding: 0.5rem;
    /* Padding */
    border: 1px solid #ccc;
    /* Border */
    border-radius: 5px;
    /* Border radius */
    font-size: 1rem;
    /* Font size */
    color: #333;
    /* Text color */
    cursor: pointer;
    /* Cursor style */
    width: 100%;
    /* Full width */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path d="M6 8l4-5H2z" fill="%23555555"/></svg>');
    /* Custom arrow SVG */
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    /* Position arrow on the right side */

    overflow: scroll;
}

.add-task button {
    padding: 0.5rem 1rem;
    background-color: #007aff;
    /* Blue button background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-task button:hover {
    background-color: #0056b3;
    /* Darker shade of blue on hover */
}

button {
    background: #007BFF;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

button:disabled {
    background: #555;
    cursor: not-allowed;
}

button:disabled:hover {
    background: #555;
    cursor: not-allowed;
}

.tasklist {
    display: flex;
    justify-content: space-between;
}

.list-view {
    width: 94%;
    /* Adjust width as needed */
    border: 0px solid #ccc;
    border-radius: 5px;
}

.tasks-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    list-style-type: none
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.task-header h3 {
    margin: 0;
    font-size: 15px;
    word-wrap: break-word;
}

.nobold {
    font-weight: 400;
}

.task-details {
    display: none;
    padding: 0.5rem;
    border-top: 1px solid #ddd;
}

.task-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.task-data {
    float: left;
    /* Float left for task data */
    width: 70%;
    /* Adjust width as needed */
}

.task-actions {
    float: right;
    /* Float right for task actions */
    text-align: right;
    /* Align text to the right within the div */
    width: 30%;
    /* Adjust width as needed */
}

.task-actions input[type="checkbox"] {
    height: 19px;
    width: 19px;
    margin-right: 10px;
    /* Space between checkbox and trash icon */
}

.task-actions .delete {
    cursor: pointer;
    color: red;
    font-size: 25px;
    padding-right: 10px;
}

.task-actions .complete-task-link {
    color: #0552a4;
    /* Example color */
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
}

.task-actions .complete-task-link:hover {
    color: green;
    /* Example color */
    text-decoration: none;
}

.task-actions .reopen-task-link {
    color: #0552a4;
    /* Example color */
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
}

.task-actions .reopen-task-link:hover {
    color: red;
    /* Example color */
    text-decoration: none;
}


.task-details p {
    margin: 0.5rem 0;
}

.toggle-details-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.toggle-details-btn:hover {
    background-color: #0056b3;
}

/* Show task details on button click */
.task-item.open .task-details {
    display: block;
}

.pagination {
    width: 94%;
    margin-top: 0.5rem;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prevButton,
.nextButton {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.prevButton:hover,
.nextButton:hover {
    background-color: #0056b3;
}

.pageInfo {
    font-size: 0.9rem;
}


.strikeout {
    text-decoration-line: line-through;
    text-decoration-thickness: 2px;
}

.filter-options {
    background-color: #f2f2f2;
    padding: 14px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    /* Align items vertically in the center */
    gap: 20px;
    /* Adjust as needed for spacing between items */
}

.filter-options h2 {
    width: 15%;
    font-size: 1.0rem;
    margin: 0;
    /* Remove margin to prevent extra space */
}

.filter-options form {
    width: 85%;
    display: flex;
    align-items: center;
    /* Align items vertically in the center */
    gap: 10px;
    /* Adjust as needed for spacing between form elements */
}

.filter-options select {
    width: 100%;
}

.filter-options select:focus {
    outline: none;
    border-color: #007bff;
    /* Example focus color */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    /* Example focus shadow */
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 50%;
}

#dropdownBtn {
    text-align: left;
    background-color: #fff;
    /* White background */
    padding: 0.5rem;
    /* Padding */
    border: 1px solid #ccc;
    /* Border */
    border-radius: 5px;
    /* Border radius */
    font-size: 1rem;
    /* Font size */
    color: #333;
    /* Text color */
    cursor: pointer;
    /* Cursor style */
    width: 98%;
    /* Full width */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path d="M6 8l4-5H2z" fill="%23555555"/></svg>');
    /* Custom arrow SVG */
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}


.dropdown-content {
    width: 98%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 150px;
    /* Adjust the height as needed */
    overflow-y: auto;
    /* Enables vertical scrolling */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.info-icon {
    position: fixed;
    top: 140px;
    right: 10px;
    cursor: pointer;
    font-size: 28px;
}

/* Popup modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 40px;
    padding-left: 100px;
    left: 2px;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 600px;
    overflow-y: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
    .top-nav {
        justify-content: left;
    }

    .top-title {
        padding-left: 40px;
        font-size: 20px;
    }

    .top-nav .menu-toggle {
        display: block;
        /* Show the menu toggle icon on mobile */
        font-size: 1.5rem;
        cursor: pointer;
        color: white;
        /* Set color of menu toggle icon */
    }

    .top-nav ul.desktop-menu {
        display: none;
        /* Hide the desktop menu links on mobile */
    }

    .side-nav {
        transform: translateX(-100%);
        /* Hide side nav off-screen on mobile */
    }

    .side-nav.show {
        transform: translateX(0);
        /* Show side nav when menu toggle icon is clicked */
    }

    .side-nav.show .close-btn {
        display: block;
        /* Show close button on mobile when side nav is open */
        position: absolute;
        top: 1rem;
        padding-right: 1rem;
        left: 0px;
        color: white;
        font-size: 2rem;
        cursor: pointer;
        background: none;
        border: none;
    }

    main {
        padding-left: 0px;
        margin-left: 30px;
        /* Adjust main content margin for mobile view */
    }

    .add-task form {
        padding: 1rem;
        /* Add more padding to form for better spacing */
    }

    .add-task input[type="text"] {
        margin-bottom: 1rem;
        /* Increase margin bottom for inputs */
    }

    .add-task form {
        display: block;
        /* Change display to block for inputs to stack */
    }

    .add-task input[type="text"] {
        width: calc(100% - 2rem);
    }

    .dropdown {
        position: relative;
        display: inline-block;
        width: 96%;
        margin-bottom: 1rem;
    }

    .filter-options h2 {
        width: 100%;
        font-size: 1.0rem;
        margin: 0;
    }

    .filter-options {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-options form {
        flex-direction: column;
        width: 100%;
    }

    .filter-options select {
        width: 100%;
        margin-bottom: 10px;
        /* Adjust spacing as needed */
    }


    .todo-list,
    .add-task,
    .filter-options {

        width: 94%;
    }

    .pagination {
        width: 94%;
        padding-left: 2px;
    }

    .modal {
        padding-left: 0px;
    }

    .info-icon {
        top: 160px;
    }
}